<div class="container">
  <div rtl>
    <h1 class="main-heading">{{ 'stms.patients.title' | translate }}</h1>
    <div class="actions">
      <a mat-raised-button class="actions-main" color="primary" (click)="getPatients()">
        {{ 'stms.patients.get-patients' | translate }}
      </a>

      <ag-grid-angular
        *ngIf="!!rowData$"
        style="width: 100%; height: 400px;"
        class="ag-theme-alpine"
        [gridOptions]="options"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [suppressRowClickSelection]="true"
        [rowSelection]="rowSelection"
        [rowData]="rowData$ | async"
      ></ag-grid-angular>
    </div>
  </div>
</div>
