@import '~@angular/material/theming';
@import "~bootstrap/scss/mixins";

$toolbar-breakpoint: 600px;

$fa-font-path: '~@fortawesome/fontawesome-free-webfonts/webfonts';

$link-hover-decoration: none;
$label-margin-bottom: 0;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$success-colors: mat-palette($mat-green, 400);
$warning-colors: mat-palette($mat-amber, 400);


@mixin overflow-scroll($width: 6px, $height: 6px, $radius: 4px) {
  &::-webkit-scrollbar {
    width: $width;
    height: $height;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: $radius;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #006064;
    outline: none;
    border-radius: $radius;
  }
}
